# Ignore node modules
node_modules
build
dist

# Ignore logs and environment files
*.log
.DS_Store

# Ignore local configuration files
.vscode
.idea

# Ignore temporary files and directories
*.tmp
*.swp
